/* https://vuetifyjs.com/en/styles/text-and-typography/#text */

/* icons: https://fontawesome.com/search?c=business&s=thin */

/* icons: https://fonts.google.com/icons?selected=Material+Icons&icon.query=what */

/* graficos: https://vuetifyjs.com/en/components/sparklines/#heart-rate */

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  size: 6rem;
  letter-spacing: -0.015625em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  size: 3.75rem;
  letter-spacing: -0.0083333333em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 3rem;
  letter-spacing: normal;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 2.125rem;
  letter-spacing: 0.0073529412em;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 1.5rem;
  letter-spacing: normal;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  size: 1.25rem;
  letter-spacing: 0.0125em;
}

.subtitle1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 1rem;
  letter-spacing: 0.009375em;
}

.subtitle2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  size: 0.875rem;
  letter-spacing: 0.0071428571em;
}

.body1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 1rem;
  letter-spacing: 0.03125em;
}

.body2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 0.875rem;
  letter-spacing: 0.0178571429em;
}

.buttonText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  size: 0.875rem;
  letter-spacing: 0.0892857143em;
  text-transform: uppercase;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  size: 0.75rem;
  letter-spacing: 0.0333333333em;
}

.overline {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  size: 0.75rem;
  letter-spacing: 0.1666666667em;
  text-transform: uppercase;
}

.inputReal {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0;
  max-width: 90%;
  min-width: 0;
  width: 90%;
  background-color: transparent;
  border-style: none;
  font: inherit;
  border-radius: 0;
  font-size: 18px;
  letter-spacing: normal;
  text-align: left;
}

::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder {
  text-align: left;
}

#app {
  display: flex;
  flex-direction: column;
}

.cardfull {
  flex: 1; /* elemento ocupa todo o espaço */
  display: flex; /* flexbox */
  flex-direction: column;
}

.padCard {
  padding-bottom: 5px;
}

.littlePaddingLeft {
  padding-left: 10px;
}

.littleMarginLeft {
  margin-left: 10px;
}

/* centralizando o place holder */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
