<!DOCTYPE html>
<html>

<head>
    <title>Vuetify — A Material Design Framework for Vue.js</title>
    <meta name="description"
        content="Vuetify is a Material Design component framework for Vue.js. It aims to provide all the tools necessary to create beautiful content rich applications.">
    <meta name="keywords"
        content="vue, material design components, vue components, material design components, vuetify, vuetify.js, component framework">
    <link href="/css/vendors~app.54c8a8d5.css" rel="stylesheet">
    <link href="/css/app.def86829.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="/js/vuetify~app.cd674a40.js"></script>
    <script type="text/javascript" src="/js/vendors~app.c4635799.js"></script>
    <script type="text/javascript" src="/js/app.aef31ed7.js"></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"6f3c5505ea0f51ed","token":"c015656a85e947cf8dc1e002a32046b1","version":"2021.12.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>