<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Document</title>
</head>

<body>


    <div id="app">
        <v-app id="inspire">
            <v-container class="grey lighten-5">
                <v-row no-gutters style="background-color: blue;">
                    <v-col class="col-10">
                        <v-card class="pa-1 mb-2 col-12" outlined tile>
                            1
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card class="pa-1 col-6" outlined tile>
                            2
                        </v-card>
                    </v-col>
                    <!-- <v-col>
                        <v-card class="pa-2" outlined tile>
                            3
                        </v-card>
                    </v-col> -->
                </v-row>

                <v-row :class="mb-6" no-gutters>
                    <v-col>
                        <v-card class="pa-2" outlined tile>
                            21
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card class="pa-2" outlined tile>
                            22
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card class="pa-2" outlined tile>
                            23
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),

        })
    </script>
</body>

</html>